.div_sobremi {
  display: flex;
  align-content: space-around;
  justify-items: center;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.Intereses {
  display: grid;
  grid-row: 2;
  justify-items: center;
  text-decoration: none;
  margin-top: 20px;
}

.Efecto_sobremi:hover {
  color: orange;
  border-bottom: 1px solid orange;
  padding-bottom: 1px;
}

.Efecto_intereses {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.Efecto_intereses:hover {
  background-color: ghostwhite;
  border-radius: 10px;
}
.Efecto_intereses .TextosConEstilo {
  text-align: center;
}
.Efecto_intereses .TextoAlternativo {
  text-align: center;
}

.div_skills {
  display: flex;
  justify-content: center;
}
.div_skills .article_skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
}
.div_skills .article_skills p {
  border-radius: 50px;
  margin-top: 10px;
}
.div_skills .skills img {
  cursor: pointer;
  transition: transform 0.5s ease;
}
.div_skills .skills img:hover {
  transform: scale(1.3);
}

.Progress, .ProgressCinco, .ProgressCuatro, .ProgressTres, .ProgressDos, .ProgressUno {
  width: 50px;
  background-color: orange;
  transition: height 1s ease;
}
.Progress:hover, .ProgressCinco:hover, .ProgressCuatro:hover, .ProgressTres:hover, .ProgressDos:hover, .ProgressUno:hover {
  width: 50px;
  transition: 1s;
}

.ProgressUno:hover {
  width: 100px;
  transition: 1s;
}

.ProgressDos:hover {
  width: 50px;
  transition: 1s;
}

.ProgressTres:hover {
  width: 10px;
  transition: 1s;
}

.ProgressCuatro:hover {
  width: 25px;
  transition: 1s;
}

.ProgressCinco:hover {
  width: 30px;
  transition: 1s;
}

@media (max-width: 420px) {
  .article_skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
  }
}
.Proyecto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
  align-content: center;
  text-align: center;
}

.imgProyecto {
  transition: transform 0.5s ease;
}
.imgProyecto:hover {
  transform: scale(1.1);
}

/*@media (max-width: 375px) and (min-width: 480px) {

}

 @media (max-width: 481px) and (min-width: 768px) {
    .Proyecto {
      justify-items: center;
      align-content: center;
      text-align: center;
    }
    body {
      h5 {
        color: $ColorPrimary;
        font-size: $TextoChi;
      }
    }
  }

@media (max-width: 769px) and (min-width: 1024px) {

  body {
    section {
      h5 {
        color: $ColorPrimary;
        font-size: $TextoChi;
      }
    }
  }
}


@media (max-width: 1025px) and (min-width: 1200px) {
  .Proyecto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    font-size: $TextoGde;
  }
  body {
    section {
      h5 {
        color: $ColorPrimary;
        font-size: $TextoGde;
      }
    }
  }
}

@media (max-width: 3840px) {
  .Proyecto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    font-size: $TextoGde;
  }
  body {
    section {
      h5 {
        color: $ColorPrimary;
        font-size: $TextoGde;
      }
    }
  }
}*/
.TextosConEstilo {
  font-family: Verdana;
  text-align: center;
}

.TextoAlternativo {
  font-size: center;
  text-align: 20px;
}

.principal {
  color: orange;
}

.secundario {
  color: aliceblue;
}

.terciario {
  color: ghostwhite;
}

.section_home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 15px;
  justify-items: center;
  margin-top: 30px;
  color: ghostwhite;
  animation-name: aparecer;
  animation-duration: 3.5s;
}

body header nav ul {
  text-align: center;
}
body .bordeIndex {
  border: 2px solid orange;
  border-radius: 20px;
}
body article h4 {
  text-align: center;
}
body article h4 div p {
  display: block;
  align-items: center;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 20px;
}
.floating .bordeIndex {
  border: 2px solid orange;
  border-radius: 20px;
}
.floating .bordeIndex:hover {
  background-color: orange;
  transition: 1s;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 25px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: ghostwhite;
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease;
}
nav ul li a:hover {
  color: orange;
  border-bottom: 2px solid orange;
  padding-bottom: 3px;
}

header nav a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s all ease;
}
header nav a:hover {
  color: orange;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(https://www.wallpapertip.com/wmimgs/83-838410_php-html-code-php-lenguaje-de-programacion.jpg);
  font-family: verdana;
  color: aliceblue;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
}
body h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: orange;
}
body p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.borde {
  border-radius: 30%;
}

.about {
  animation-name: aparecer;
  animation-duration: 3.5s;
}

h5 {
  margin-top: 10px;
  color: orange;
}

.section_home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 15px;
  justify-items: center;
  margin-top: 30px;
}

.borde {
  border-radius: 30%;
}

.section_home {
  animation-name: aparecer;
  animation-duration: 3.5s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  color: orange;
}
footer p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer a {
  cursor: pointer;
  transition: transform 0.5s ease;
}
footer a:hover {
  transform: scale(1.3);
}
footer .div_footer {
  display: flex;
  justify-content: space-evenly;
}

.Progress, .ProgressCinco, .ProgressCuatro, .ProgressTres, .ProgressDos, .ProgressUno {
  width: 0px;
  background-color: orange;
  transition: width 1s;
}

.Efecto, .Efecto_intereses, .Efecto_sobremi {
  text-decoration: none;
  font-size: 15px;
  color: ghostwhite;
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease;
}

.article_contacto {
  display: flex;
  flex-direction: column;
}
.article_contacto .div_formulario {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  justify-items: center;
}

@media (min-width: 375px) and (max-width: 480px) {
  .floating {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  div h3 {
    color: orange;
  }

  body section p {
    font-size: small;
  }
  body section p h5 {
    color: orange;
    font-size: small;
  }

  .div_sobremi {
    display: flex;
    align-items: center;
  }
  .div_sobremi .TextoAlternativo {
    font-size: small;
    text-align: center;
  }

  a.Efecto_sobremi {
    font-size: small;
  }

  .TextosConEstilo {
    font-size: small;
    text-align: center;
  }

  body section div .Proyecto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: center;
    text-align: center;
  }
  body section div h5 {
    font-size: small;
  }
  body section div p {
    font-size: small;
  }

  footer {
    height: 100vh;
  }
  footer h5 {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .floating {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .div_sobremi {
    display: flex;
    align-items: center;
  }
  .div_sobremi .TextoAlternativo {
    font-size: medium;
    text-align: center;
  }

  a.Efecto_sobremi {
    font-size: xx-large;
  }

  .TextosConEstilo {
    font-size: medium;
    text-align: center;
  }

  body section div .Proyecto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
  body section div h5 {
    font-size: small;
  }
  body section div p {
    font-size: small;
  }

  footer {
    height: 100vh;
  }
  footer h5 {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .floating {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  a.Efecto_sobremi {
    font-size: xx-large;
  }

  .TextosConEstilo {
    font-size: xx-large;
    text-align: center;
  }

  .div_sobremi {
    display: flex;
    justify-content: space-around;
  }
  .div_sobremi .TextoAlternativo {
    font-size: xx-large;
    text-align: center;
  }

  body section div .Proyecto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
  body section div h5 {
    font-size: medium;
  }

  footer {
    height: 100vh;
  }
  footer h5 {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .floating {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  a.Efecto_sobremi {
    font-size: xx-large;
  }

  .TextosConEstilo {
    font-size: xx-large;
    text-align: center;
  }

  .div_sobremi {
    display: flex;
    justify-content: space-around;
  }
  .div_sobremi .TextoAlternativo {
    font-size: xx-large;
    text-align: center;
  }

  body section div .Proyecto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
  body section div h5 {
    font-size: xx-large;
  }

  footer {
    height: 100vh;
  }
}
@media (min-width: 1201px) and (max-width: 3840px) {
  .floating {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  div h3 {
    color: orange;
  }

  body section p {
    font-size: xx-large;
  }
  body section p h5 {
    color: orange;
    font-size: xx-large;
  }

  a.Efecto_sobremi {
    font-size: xx-large;
  }

  .TextosConEstilo {
    font-size: xx-large;
    text-align: center;
  }

  .div_sobremi {
    display: flex;
    justify-content: space-around;
  }
  .div_sobremi .TextoAlternativo {
    font-size: xx-large;
    text-align: center;
  }

  body section div .Proyecto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
  body section div h5 {
    font-size: xx-large;
  }

  footer {
    height: 100vh;
  }
}

/*# sourceMappingURL=style.css.map */
