* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(https://www.wallpapertip.com/wmimgs/83-838410_php-html-code-php-lenguaje-de-programacion.jpg);
  font-family: verdana;
  color: $colorInicio;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  text-align: $CenterZone ;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section_home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 15px;
  justify-items: $CenterZone;
  margin-top: 30px;
  color: $colorInicio;
}

.borde {
  border-radius: 30%;
}

.section_home {
  animation-name: aparecer;
  animation-duration: 3.5s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
