* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(https://www.wallpapertip.com/wmimgs/83-838410_php-html-code-php-lenguaje-de-programacion.jpg);
  font-family: $MainTypography;
  color: $ColorTertiary;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  h3 {
    text-align: $CenterText;
    margin-top: $MT + 20px;
    margin-bottom: $MT + 20px;
    color: $ColorPrimary;
  }
  p {
    text-align: $CenterText;
    margin-top: $MT;
    margin-bottom: $MT - 10px;
  }
}
.borde {
  border-radius: 30%;
}
.about {
  animation-name: aparecer;
  animation-duration: 3.5s;
}

h5 {
  margin-top: $MT - 10px;
  color: $ColorPrimary;
}

.section_home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 15px;
  justify-items: center;
  margin-top: 30px;
}

.borde {
  border-radius: 30%;
}

.section_home {
  animation-name: aparecer;
  animation-duration: 3.5s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
