@mixin textos {
    font-family: Verdana;
    text-align: center;
}

.TextosConEstilo {
    @include textos;
}

@mixin TextoConParametros($CenterText,$MT) {
    font-size: $MT;
    text-align: $CenterText;
}

.TextoAlternativo {
    @include TextoConParametros($MT,$CenterText);
}