.Proyecto {
  display: grid;
  grid-row: 1;
  justify-items: center;
  text-align: center;
}

.imgProyecto {
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

body {
  section {
    h5 {
      color: $ColorPrimary;
    }
  }
}

@media (min-width: 375px) {
  .Proyecto {
    display: flex;
    justify-items: center;
    font-size: $TextoChi;
  }
  .imgProyecto {
    display: flex;
    flex-direction: column;
    margin-top: $MT;
  }
}

@media (max-width: 690px) {
  .Proyecto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    font-size: $TextoMed;
}
}



@media (max-width: 3840px) {
  .Proyecto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    font-size: $TextoGde;
}
/*h5{
  font-size: $TextoGde;
}
p{
  font-size: $TextoGde;
}*/
}