.div_sobremi {
  display: flex;
  align-content: space-around;
  justify-items: center;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: $MT;
}

.Intereses {
  display: grid;
  grid-row: 2;
  justify-items: center;
  text-decoration: none;
  margin-top: 20px;
}

.Efecto_sobremi {
  &:hover {
    color: $ColorPrimary;
    border-bottom: 1px solid $ColorPrimary;
    padding-bottom: 1px;
  }
}

.Efecto_intereses {
  margin-left: $MT;
  margin-right: $MT;
  margin-top: 10px;
  &:hover {
    background-color: $ColorSecondary;
    border-radius: 10px;
  }
  .TextosConEstilo {
    text-align: $CenterText;
  }
  .TextoAlternativo {
    text-align: $CenterText;
  }
}

