.div_sobremi {
  display: flex;
  align-content: space-around;
  justify-items: center;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: $MT;
}

.Intereses {
  display: grid;
  grid-row: 2;
  justify-items: center;
  text-decoration: none;
  margin-top: 20px;
}

.Efecto_sobremi {
  &:hover {
    color: $ColorPrimary;
    border-bottom: 1px solid $ColorPrimary;
    padding-bottom: 1px;
  }
}

.Efecto_intereses {
  margin-left: $MT;
  margin-right: $MT;
  margin-top: 10px;
  &:hover {
    background-color: $ColorSecondary;
    border-radius: 10px;
  }
  .TextosConEstilo {
    text-align: $CenterText;
  }
  .TextoAlternativo {
    text-align: $CenterText;
  }
}

@media (max-width: 375px) and (min-width:480px) {
  .borde {
    display: none;
  }
  .div_sobremi {
    display: flex;
    align-items: center;
    .TextoAlternativo {
      font-size: $TextoChi;
      text-align: $CenterText;
    }
  }
  h3 {
    font-size: $TextoChi;
    color: $ColorPrimary;
  }

  a.Efecto_sobremi {
    font-size: $TextoChi;
  }
  .TextosConEstilo {
    font-size: $TextoChi;
    text-align: $CenterText;
  }
}

@media (min-width: 690px) {
  .div_sobremi {
    display: flex;
    align-items: center;
    .TextoAlternativo {
      font-size: $TextoMed;
      text-align: $CenterText;
    }
  }
  h3 {
    font-size: $TextoMed;
    color: $ColorPrimary;
  }

  a.Efecto_sobremi {
    font-size: $TextoMed;
  }
  .TextosConEstilo {
    font-size: $TextoMed;
    text-align: $CenterText;
  }
}

@media (min-width: 3840px) {
  h3 {
    font-size: $TextoGde;
    color: $ColorPrimary;
  }

  a.Efecto_sobremi {
    font-size: $TextoGde;
  }
  .TextosConEstilo {
    font-size: $TextoGde;
    text-align: $CenterText;
  }
  .div_sobremi {
    display: flex;
    justify-content: space-around;
    .TextoAlternativo {
      font-size: $TextoGde;
      text-align: $CenterText;
    }
  }
}
