<<<<<<< HEAD
$CenterText: center;
$ColorPrimary: orange;
$ColorSecondary: ghostwhite;
$ColorTertiary: aliceblue;
$MT: 20px;
$MainTypography: verdana;
$MR: 10px;
=======
$colorInicio: ghostwhite;
$colorFooter: orange;
$CenterZone: center;
>>>>>>> f7aead53b98c8ff8a9cedaf5df95c0b5aeff92c7
