$CenterText: center;
$ColorPrimary: orange;
$ColorSecondary: ghostwhite;
$ColorTertiary: aliceblue;
$MT: 20px;
$MainTypography: verdana;
$MR: 10px;
$TextoGde: large;
$TextoChi: small;
$TextoMed: medium;
